<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rubinsoft.looking">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".User_Home" />
        <activity android:name=".User_Registro" />
        <activity android:name=".User_Perfil" />
        <activity android:name=".User_Opciones" />
        <activity android:name=".User_GestionAnuncio" />
        <activity android:name=".User_FiltroBusqueda" />
        <activity android:name=".User_EditarPerfil" />
        <activity android:name=".Equipo_Registro" />
        <activity android:name=".Equipo_PonerAnuncio" />
        <activity android:name=".Equipo_Perfil" />
        <activity android:name=".Equipo_Opciones" />
        <activity android:name=".Equipo_MisAnuncios" />
        <activity android:name=".Equipo_EditarPerfil" />
    </application>

</manifest>